
notebooks/.DS_Store
.DS_Store
notebooks/.ipynb_checkpoints/DaVi_Prototype3-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Prototype_Pies-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Prototype_Pies-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Prototype_Pies-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Prototype_Pies-checkpoint.ipynb
